* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0c1c;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 35px;
  padding: 10px; 
  height: 40px;
  width: 250px;
  font-size: 18px;
  text-align: center;
  align-content: center;
}

canvas {
  border: 2px solid #ffffff30;
  border-radius: 12px;
}